{% extends './header.html' %}

{% block title %}
Новости - Антирейтинг
{% endblock %}

{% block link %}
{% load static%}

{% endblock %}

{% block content %}
      
      <div class="page-title-block">
        <h1 class="page-title">АНТИРЕЙТИНГ</h1>
      </div>
      
      <section class="search">
        <form class="search__form">
          <div class="search__container">
            <i class="fas fa-search search__icon"></i>
            <input type="text" class="search__input" placeholder="Поиск студента...">
            <button type="submit" class="search__button">ИСКАТЬ</button>
          </div>
        </form>
      </section>

      <section class="rating">
        <h2 class="rating__title">
          <i class="fas fa-chart-line"></i> Нарушители
        </h2>
        
        <div class="table">
          
          <div class="table__header">
            <div class="table__cell--place">№</div>
            <div class="table__cell--name">Студент</div>
            <div class="table__cell--group">Группа</div>
            <div class="table__cell--complaints">Общий счёт</div>
            <div class="table__cell--status">Статус</div>
          </div>
          
          <div class="table__body">
            {% for data in students_with_risk %}
            {% with student=data.student %}
            <div class="table__row">
                <div class="table__cell--place">{{ forloop.counter }}</div>
                <div class="table__cell--name">{{ student.student_name }}</div>
                <div class="table__cell--group">{{ student.group.group_name }}</div>
                <div class="table__cell--complaints">{{ student.total_score }}
                  
                </div>
                <div class="table__cell--status {{ data.css_class }}">
                    {{ data.risk_status }}
                </div>
            </div>
            {% endwith %}
            {% empty %}
            <div class="table__row">
                <div class="table__cell--name" style="grid-column: 1 / -1; text-align: center; padding: 30px;">
                    Нарушителей пока нет
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
{% endblock %}
